* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  height: 100vh;
}

main {
  position: relative;
  margin: 0 auto;
  /* width: auto; */
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
  aspect-ratio: 409/450;
}

img {
  /* 2454 × 2700 */
  /* opacity: 0.5; */
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
  aspect-ratio: 409/450;
  position: absolute;
  top: 0; left: 0;
  display: none;
}

svg {
 /* 1227 × 1350 */
  width: 100%;
  /* width: auto; */
  height: 100vh;
  max-height: 100vh;
  object-fit: contain;
  aspect-ratio: 409/450;
  border: 1px solid black;
  position: absolute;
  top: 0; left: 0;
}

.hide {
  display: none;
}

.coordinates line,
.coordinates text {
  stroke: black;
  fill: black;
}

#main_frame {
  filter: drop-shadow(0 -30px 30px black);
}

#top_left_shape,
#top_right_shape,
#bottom_left_shape,
#bottom_right_shape,
#orange_block {
  filter: drop-shadow(-5px 4px 10px rgba(0,0,0,0.5));
}


#orange_block {
  transform-origin: 900px 925px;
  animation: 5s infinite reverse linear orangeBlock;
}
@keyframes orangeBlock {
  to {
    transform: rotate(360deg);
  }
}
#yellow_line {
  transform-origin: 900px 925px;
  animation: 10s infinite normal linear yellowLine;
}
@keyframes yellowLine {
  to {
    transform: rotate(360deg);
  }
}


#bottom_left_inner_shape_pattern {
  animation: 20s infinite normal linear patternTest;
}
@keyframes patternTest {
  to { /* rotates the pattern by x degrees every 20s and shifts them along */
    transform: translate3d(10px,-10px,0);
  }
}