* {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: beige;
  height: 100vh;
}

main {
  position: relative;
  margin: 0 auto;
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
  aspect-ratio: 409/450;
}

img {
  /* 2454 × 2700 */
  /* opacity: 0.5; */
  width: 100%;
  max-height: 100vh;
  object-fit: contain;
  aspect-ratio: 409/450;
  position: absolute;
  top: 0; left: 0;
  display: none;
}

svg {
 /* 1227 × 1350 */
  width: 100%;
  height: 100vh;
  max-height: 100vh;
  object-fit: contain;
  aspect-ratio: 409/450;
  border: 1px solid black;
  position: absolute;
  top: 0; left: 0;
}

.hide {
  display: none;
}

.coordinates line,
.coordinates text {
  stroke: black;
  fill: black;
}

#main_frame {
  filter: drop-shadow(0 -30px 30px black);
}

#top_left_shape,
#top_right_shape,
#bottom_left_shape,
#bottom_right_shape,
#orange_block {
  filter: drop-shadow(-5px 4px 10px rgba(0,0,0,0.5));
}


#orange_block {
  transform-origin: 900px 925px;
  animation: 10s infinite reverse linear orangeBlock;
}
@keyframes orangeBlock {
  to {
    transform: rotate(360deg);
  }
}
#yellow_line {
  transform-origin: 900px 925px;
  animation: 15s infinite normal linear yellowLine;
}
@keyframes yellowLine {
  to {
    transform: rotate(360deg);
  }
}


#bottom_left_inner_shape_pattern {
  animation: 30s infinite normal linear shapePattern;
}
@keyframes shapePattern {
  to { /* rotates the pattern by x degrees every 20s and shifts them along */
    transform: translate3d(10px,-10px,0);
  }
}



#bottom_left {
  transform-origin: 425px 925px;
  animation: 40s infinite normal linear bottomLeft;
}
@keyframes bottomLeft {
  to {
    transform: rotate(360deg);
  }
}



#top_right_inner_shape {
  animation: 10s infinite alternate linear shapeColour;
}
@keyframes shapeColour {
  to {
    fill: rgb(255,0,0);
  }
}



#top_left_shape {
  transform-origin: 450px 425px;
  animation: 20s infinite alternate linear topLeft;
}
@keyframes topLeft {
  to {
    transform: translate3d(-40px,-50px,0) rotate(-20deg);
  }
}


#top_right {
  transform-origin: 725px 550px;
  animation: 10s infinite alternate linear topRight;
}
@keyframes topRight {
  to {
    transform: translate3d(60px,-40px,0);
  }
}


/* #bottom_right_shape {
  animation: 10s infinite alternate linear bottomRight;
}
@keyframes bottomRight {
  to {
    filter: none;
  }
} */